.build {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0px;
    background: black;
    min-height: 800px;

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 15px;

        .element:nth-of-type(1) {
            grid-column: 1 / 4;
            justify-content: center;
            gap: 30px;

            p {
                font-size: 35px;
            }

            span {
                font-size: 21px;
                color: #acacac;
                width: 450px;
                line-height: 30px;
            }

            .icon {
                position: static;
            }
        }

        .element {
            background-size: 100% 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 15px;
            color: white;
            padding: 35px;
            position: relative;

            .chapter {
                padding: 7px 30px;
                border-radius: 15px;
                cursor: pointer;
                color: white;
                background: #9947FF;
            }

            span {
                font-size: 21px;
            }

            .icon {
                position: absolute;
                right: 35px;
                background: transparent;
                
                svg {
                    color: #acacac;
                    font-size: 25px;
                }
            }
        }
    }
}