.network {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    min-height: 1000px;
    padding: 75px 0px;
    
    .text {
        width: 100%;
        max-width: 1450px;
        margin: 0 auto 50px auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        h1 {
            color: white;
            font-family: sans-serif;
            font-size: 36px;
        }

        p {
            color: white;
            font-family: sans-serif;
            font-size: 18px;
            max-width: 500px;
            line-height: 1.5;
        }
    }


    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 15px;
        margin-top: 30px;
        width: 100%;
        max-width: 1450px;

        .elements {
            background-size: 100% 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            gap: 15px;
            color: white;
            padding: 35px;
            position: relative;
            background: #19171C;
            border-radius: 20px;
            transition: 0.3s ease;
            overflow: hidden !important;
            cursor: pointer;

            h2 {
                font-family: sans-serif;
            }

            a {
                font-size: 15px;
                text-transform: uppercase;
                color: #9A80FF;
            }

            p {
                font-family: sans-serif;
                width: 300px;
                line-height: 30px;
                color: #BFBFBF;
            }

            button {
                background: transparent;
                color: white;
                font-family: sans-serif;
                cursor: pointer;
                border: none;
            }
        }

        .elements::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 95%;
            height: 125px;
            background: black;
            filter: blur(100px);
            transition: all .3s;
        }

        .elements:hover:before {
            background: #56377D;
        }
    }
}

/* Drsic Hnarawor Che; */
.elements:hover:before {
    background: #56377D;
}