.boy {
    padding: 75px 0px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;

        h3 {
            font-size: 35px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                gap: 25px;

                li {
                    padding: 12px 15px;
                    cursor: pointer;
                    border-radius: 10px;
                    border: 1px solid transparent;
                    font-size: 18px;
                    background-color: #0B090C;
                }

                li:hover {
                    border: 1px solid #832b83;
                }
            }
        }

        .boyBlock {
            height: 550px;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 100%);

            img {
                width: 100%;
                height: 100%;
            }

            .info {
                background: #1a1a1a;
                color: white;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .info_1 {
                    width: 450px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-left: 46px;

                    img {
                        width: 250px;
                        height: 50px;
                    }

                    p {
                        width: 390px;
                        padding-top: 10px;
                        font-size: 19px;
                        line-height: 25px;
                        font-family: sans-serif;

                    }

                    span {
                        font-family: sans-serif;
                        padding-top: 10px;
                        color: #654D9B;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }
            }
        }

        .images {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #0B090C;
            border-radius: 10px;


            img {
                width: 100px;
                height: 50px;
                object-fit: contain;
            }
        }
    }
}

.boy>section>h3 {
    margin-top: 100px;
}

.boyBlock > div:nth-of-type(1) > div {
    width: 100%;
    height: 100%;
}


