.solana {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;

    .forAll {
        width: 100%;
        max-width: 1920px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 250px);
        gap: 15px;

        .pic {
            background-size: cover !important;
            background-position: center !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            
            p {
                font-size: 40px;
            }

            span {
                white-space: nowrap;
                color: gray;
                text-align: center;
                line-height: 21px;
                font-size: 14px;
            }
        }

        .pic:nth-of-type(2) {
            grid-column: 2 / 4;
            grid-row: 1 / 3;
        }

        .pic:nth-of-type(4) {
            grid-column: 5 / 5;
            grid-row: 1 / 3;
        }
    }
}