.time {
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        width: 1450px;
        height: 600px;
        background-size: 100% 200% !important;
        background-position: 50% 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 35px;

        h3 {
            text-align: center;
            font-size: 35px;
            color: white;
        }
        
        button {
            padding: 12px 35px;
            color: white;
            font-size: 17px;
            cursor: pointer;
            border-radius: 25px;
            background: linear-gradient(
                to right,
                #7201CB, transparent
            );
        }
    }
}