.up {
    background: black;
    padding: 25px 0px;
    padding-top: 200px;
    position: relative;
    overflow: hidden !important;
}

.up::before,
.up::after {
    content: '';
    width: 50%;
    height: 100%;
    background: url("../objectPic/up/upback.png");
    position: absolute;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    top: 0%;
}

.up::before {
    left: 0%;
    background-position: 120% 50%;
}

.up::after {
    right: 0%;
    background-position: -20% 50%;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            position: relative;
            z-index: 321 !important;
            color: white;

            h1 {
                font-size: 60px;
                width: 700px;
                text-align: center;
            }

            p {
                width: 550px;
                color: #f3f3f3;
                text-align: center;
                font-size: 20px;
            }

            .btns {
                display: flex;
                gap: 35px;

                button {
                    padding: 12px 35px;
                    font-size: 16px;
                    cursor: pointer;
                    border-radius: 25px;
                    color: white;
                    background: linear-gradient(to right,
                            #9457EB, transparent);
                }

                button:nth-of-type(2) {
                    border: 1px solid #f3f3f3;
                    background: transparent;
                }
            }

            span {
                margin-top: 100px;
                font-size: 19px;
                color: #3c5eae;
            }

        }

    }

    .forIcons {
        width: 100%;
        position: relative;
        z-index: 321 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;

        section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 25px 0px;
        }
    }
}