.box {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    min-height: 800px;
    
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        align-content: space-between;
        gap: 50px;
    }

    .box_left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 50px;

        h1 {
            color: white;
            font-size: 85px;
            font-family: sans-serif;
            width: 600px;
        }

        p {
            color: grey;
            font-size: 21px;
            line-height: 30px;
            font-family: sans-serif;
        }

        .but_item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            button {
                padding: 15px 35px;
                border-radius: 35px;
                font-size: 17px;
                cursor: pointer;
            }

            button:nth-child(1) {
                color: black;
                font-family: sans-serif;
                background: #13F093;
            }

            button:nth-child(2) {
                color: white;
                background-color: transparent;
                border: 1px solid white;
            }
        }
    }

    .box_right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        div > div > img {
            width: 500px;
            height: 500px;
            background: radial-gradient(circle, purple, purple, black, black);
        }
    }

    .itemBlock {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        grid-column: 1 / 3;
        gap: 20px;
        
        h2 {
            color: white;
            font-size: 40px;
        }

        p {
            color: grey;
            font-family: sans-serif;
            font-size: 18px;
        }
    }
}